<h1>ADMINISTRACIÓN</h1>

<h2 id="admin">Bienvenido, {{user}}</h2>

<div>
<p>Este área es solo para admin</p>
</div>

<div id="irMock">
    <a href="/api/mock/mockingproducts">Simular productos</a>
</div>
