<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatea con nosotros! 😀</title>
</head>
<body>
    <div>
        <h2>Chat</h2>
    
        <p id="name"></p>

        <div>
            <input id="message" type="text">
            <button id="submit">Enviar</button>
        </div>

        <div>
            <p id="messages"></p>
        </div>
    </div>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js" integrity="sha384-/KNQL8Nu5gCHLqwqfQjA689Hhoqgi2S84SNUxC3roTe4EhJ9AfLkp8QiQcU8AMzI" crossorigin="anonymous"></script>
    <script src="./js/chat.js"></script>

</body>
</html>






