<h1>Perfil de usuario</h1>

<div>
    <div>
        <p>¡¡¡ BIENVENIDO !!!</p>
    </div>
    <div>
        <label>Nombre:</label>
        <span>{{user.firstName}}</span>
    </div>
    <div>
        <label>Apellido:</label>
        <span>{{user.lastName}}</span>
    </div>
    <div>
        <label>Email:</label>
        <span>{{user.email}}</span>
    </div>
    <div>
        <label>Edad:</label>
        <span>{{user.age}}</span>
    </div>
</div>

<div>
    <button type="submit">
        <a href="/">Cerrar sesión</a>
    </button>
</div>
