<h1>Registrate aquí</h1>
<form action="/api/passport/signup" method="post">
  <div>
    <input type="text" required="true" placeholder="Nombre">
  </div>
    <div>
    <input type="text" required="true" placeholder="Apellido">
  </div>
    <div>
    <input type="number" required="true" placeholder="Edad">
  </div>
  <div>
    <input type="email" required="true" placeholder="Correo">
  </div>
  <div>
    <input type="password" required="true" placeholder="Contraseña">
  </div>
  <button type="submit">Regístrate</button>
</form>