<h1>Registrate aquí</h1>
<form action="/api/passportLocal/signup" method="post">
  <div>
    <input type="text" required="true" name="firstName" id="firstName" placeholder="Nombre">
  </div>
    <div>
    <input type="text" required="true" name="lastName" id="lastName" placeholder="Apellido">
  </div>
    <div>
    <input type="number" required="true" name="age" id="age" placeholder="Edad">
  </div>
  <div>
    <input type="email" required="true" name="email" id="email" placeholder="Correo">
  </div>
  <div>
    <input type="password" required="true" name="password" id="password" placeholder="Contraseña">
  </div>
  <button type="submit">Regístrate</button>
</form>