<div>
    <h2>Chat</h2>
    
    <p id="name"></p>

    <div>
        <input id="message" type="text">
        <button id="submit">Enviar</button>
    </div>

    <div>
        <p id="messages"></p>
    </div>
</div>


<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="../../public/js/chat.js"></script>